
# ======================
# APP CONFIG
# ======================
NODE_ENV=production
PORT=3000


# ======================
# DATABASE
# ======================
DB_URL=your_database_url_here
DB_NAME=your_db_name_here
DB_USER=your_db_user_here
DB_PASS=your_db_password_here
DB_DIALECT=mysql


# ======================
# JWT CONFIG
# ======================
JWT_ACCESS_SECRET=your_access_secret_here
JWT_ACCESS_EXPIRES_IN=5m

JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=30d

JWT_RESET_SECRET=your_reset_secret_here
JWT_RESET_EXPIRES_IN=10m


# ======================
# COOKIES
# ======================
JWT_COOKIE_EXPIRES_IN=30


# ======================
# OTP CONFIG
# ======================
OTP_EXPIRES_IN=10
OTP_LENGTH=6
OTP_MAX_ATTEMPTS=5
OTP_RESEND_COOLDOWN_SECONDS=60


# ======================
# EMAIL CONFIG
# ======================
EMAIL_FROM=your_email_here

# DEV SMTP (Mailtrap)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=your_mailtrap_username
SMTP_PASSWORD=your_mailtrap_password

# PROD EMAIL API (Brevo)
BREVO_API_KEY=your_brevo_api_key_here


# ======================
# STORAGE (Supabase)
# ======================
SUPABASE_BUCKET_NAME=uploads
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here

# ======================
# CACHING (Redis)
# ======================
REDIS_URL=your_redis_url_here
CACHE_TTL = 15m


# PAYMENT
PAYMOB_API_URL=your_paymob_url_here
PAYMOB_API_KEY=your_paymob_key_here
PAYMOB_HMAC=your_paymob_hmac_here
PAYMOB_IFRAME_ID=your_paymob_iframe_id_here 
PAYMOB_CARD_INTEGRATION_ID=your_paymob_card_integration_id_here
PAYMOB_WALLET_INTEGRATION_ID=your_paymob_wallet_here

# NOTIFICATIONS

FIREBASE_SERVICE_ACCOUNT_PATH=your_firebase_service_account_path_here

# Example
# FIREBASE_SERVICE_ACCOUNT_PATH=src/config/firebase-service-account.json


# QUEUE(RABBITMQ)
RABBITMQ_URL=your_rabbitmq_url_here